
*, body  {
  box-sizing: border-box;
  overflow-x: hidden ;
}

.bg-home1 {
  background-image: url("./assets/images/homepage1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
}
.bg-home2 {
  background-image: url("./assets/images/plating_tree.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  top: -20rem;
  background-position: center;
}

.footerbg{
  background-image: url("./assets/images/grass-2029768_1280.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
}

/* .bg-image{
  background-image: url("./assets/images/bigtree.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  
} */
.input-style{
  size: 1rem;
  padding: 0.75rem 3rem;
  font-size: .85rem;
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  background-clip: padding-box;
  border: 2px solid #2a2c2e;
  appearance: none;
  border-radius: 0.25em;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  :focus{
      color: #212529;
      background-color: #fff;
      border-color: #86b7fe;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
  
}